body {
  margin: 0;
}

.light-bulb {
  width: 2em;
  height: 2em;
  border-radius: 10em;
  margin: 0.2em;
  display: inline-block;
  border-style: solid;
  border-width: 0.2em;
  border-color: grey;

  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

.on {
  background-color: yellow;
}

.off {
  background-color: black;
}

.light-row {

}

.board {
  background-color: darkgrey;
  padding: 1em;
  border-radius: 1em;
  display: inline-block;
  text-align: center;
  line-height: 0;
}

.game-box {
  text-align: center;
}

.game-box > h1 {
  font: 3em arial, sans-serif;
}

div.score-box {
  width: 50%;
  display: inline-block;
}